#validate{
    font-size: 2em;
}
#create-inputs{
    display: flex;
    flex-direction: column;
  }
  
  #create-inputs>*{
    margin: 5%;
  }
@media (min-width: 450px) {
    #create-inputs>*{
        margin: 2%;
      }
    #type-selector{
        margin-bottom: -3%;
    }
}
