.sign-up-bottom{
    grid-row: 6;
    display: flex;
    flex-direction: column;
}
.sign-up{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, 14vh);
    margin-top: 15%;
}
.error-buttons{
    margin-top: 2%;
}
#about{
    font-size: 1em;
}
.buttonR{
    grid-row: 4;
}
.error-msg{
    grid-row: 4;
    margin-top:15%;
}
