.sign-up-bottom{
    grid-row: 6;
}
.sign-up{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, 14vh);
}
.error-buttons{
    margin-top: 2%;
}
#about{
    font-size: small;
}
.buttonR{
    grid-row: 5;
}
.error-msg{
    grid-row: 4;
    margin-top:15%;
}