@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


#logo{
    width: 300px;
    height: 150px;
}
#logo-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;

   
}

.head-holder{
    grid-column: 1/span 6;
}
.menu-button{
    
    height: 75px;
    width: 150px;
}
.down{
    background-image: url('../../files/menuUp.png');
}
.up{
    background-image: url('../../files/menuDown.png');
}
.landing{
    display: flex;
    justify-content: center;
}

.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
}
.show{
    display: flex;
    flex-direction: column;
}
.menu{
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
}
.display-nav{
    font-size: 5em;
}
.dropdown > *{
    font-size: 1em;
}
.flex-abs-holder{
    width: 250px;
}

@media (max-width:500px){
    .menu-button{
        height: 50px;
        width: 100px;
        background-size: cover;
    }
    .dropdown>*{
        font-size: .7em;
    }
    .menu{
        margin-left: 3%;
    }
    .left-header{
        position: absolute;
        font-size: 1em;
        margin-left: 63%;
        margin-top: 7%;
    }
    .back-left-header{
        
            position: absolute;
            font-size: 1em;
            margin-left: 63%;
            margin-top: 7%;
        
    }
    
}