.nav-button{
    font-size: 1em;
}

.sign-in{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(5, 1fr);
}

.bottom-sign-in{
    grid-row: 3/span 4;
    display: flex;
    flex-direction: column;

}

.error-buttons{
    grid-row: 2;
}

